[submodule "classes/02/ByteSeridoClasses"]
	path = classes/02/ByteSeridoClasses
	url = https://github.com/ZauJulio/ByteSeridoClasses.git/
[submodule "classes/03/ByteSeridoClasses"]
	path = classes/03/ByteSeridoClasses
	url = https://github.com/ZauJulio/ByteSeridoClasses.git
[submodule "classes/04/ByteSeridoClasses"]
	path = classes/04/ByteSeridoClasses
	url = https://github.com/ZauJulio/ByteSeridoClasses.git
